@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    background-color: #151515;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    height: 80px;
}

a {
    text-decoration: none;
    color: #fff;
}

.posicao-container {
    width: 100%;
    height: 100px;
    box-shadow: 1px 2px 7px #44D374;
}

.posicao-container-lista {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 20px;
}

.posicao-container-lista .posicao-lista {
    margin: 20px;
}

.posicao-container-lista .posicao-lista nav ul {
    display: flex;
    list-style-type: none;
}

.posicao-container-lista .posicao-lista nav ul li {
    margin: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

}

.posicao-button {
    margin: 0 40px 0 0;
}

.posicao-button button {
    background: linear-gradient(90deg, #44D374 0%, #32F484 100%);
    border-radius: 5px;
    width: 102px;
    height: 40px;
    border: none;
}

.posicao-button button a {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    text-decoration: none;
}

.posicao-icone-git-link {
    display: flex;
    gap: 10px;
}

#bn-sessao-apresentacao {
    margin-top: 50px;
}

.bn-sessao-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.bn-sessao-posicao {
    display: flex;
    flex-direction: column;

    width: 90%;
    padding: 50px;
}

.bn-sessao-posicao .bn-hello {
    white-space: nowrap;
}

.bn-sessao-posicao h1 {
    font-weight: 900;
    font-size: 38px;
    white-space: nowrap;
}

.bn-sessao-posicao h3 {
    font-weight: 900;
    font-size: 18px;
    color: #32F484;
    margin: 21px 0;
}

.bn-sessao-posicao p {
    font-weight: 400;
    font-size: 18px;
    margin: 10px 0;
}

.bn-lado-imagem {

    width: 45%;
}

.posicao-button button {
    margin: 20px 0;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
}


.bn-imagem-posicao img {
    width: 397px;
    margin-bottom: 15px;
    padding: 10px;

}


 #bn-sessao-sobre {
    width: 100%;
    height: 682px;
    background-color: rgba(24, 24, 24, 0.7);
}
.bn-container-sobre {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
    width: 75%;
    height: 100%;
    margin: 0 auto;

}

.bn-sobre-container {
    display: flex;
    width: 45%;
    flex-wrap: wrap;
}


.bn-imagem-container {
    width: 45%;
    text-align: center;
}

.bn-imagem-container .bn-imagem-eu {
}

.bn-imagem-container .bn-imagem-eu img {
    width: 246px;
}


.bn-sobre-mim {
    margin-top: 30px;
} 

.bn-sobre-mim .bn-quem-sou-eu {
    margin-bottom: 20px;
}

.bn-h3-sobre {
    margin-bottom: 25px;
}

.bn-p-sobre {
    line-height: 20px;
    letter-spacing: 1px;
}

.posicao-btn-curriculo {

}

.posicao-btn-curriculo .btn-link-curriculo {
    background: linear-gradient(90deg, #44D374 0%, #32F484 100%);
    border-radius: 5px;
    width: 102px;
    height: 40px;
    border: none;
    margin: 40px 0;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}



@media (max-width: 550px) {


    .posicao-container-lista .posicao-lista nav ul li {
        font-size: 14px;
    }

    .posicao-button button {
        width: 85px;
        height: 30px;
    }

    .posicao-icone-git-link a {
        display: none;
    }

    .bn-imagem-posicao img {
        display: none;
    }

    .bn-sessao-posicao {
        width: 100%;
        padding: 0px;
        margin: 20px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .bn-sessao-posicao h1 {
        font-size: 30px;
    }

    .posicao-button {
        margin: 0 auto;
    }
}